<div class="sidebar" *ngIf="userInfo">
  <img class="avatar" src="{{userInfo.avatar}}" alt="">
  <nav class="navs">
    <a routerLink="/chats" class="nav">
      <i class="iconfont icon-message"></i>
    </a>
    <a routerLink="/contacts" class="nav">
      <i class="iconfont icon-contacts-line"></i>
    </a>
    <a routerLink="/favorites" class="nav">
      <i class="iconfont icon-favorite"></i>
    </a>
  </nav>

  <i class="iconfont icon-nav"></i>
</div>

<div class="info" *ngIf="showInfo">
  info
</div>
