.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .avatar {
    width: 45px;
    height: 45px;
    margin: 70px 0 30px;
  }

  .navs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav {
      margin: 15px 0;
      .iconfont {
        font-size: 25px;
        color: white;
      }
    }
  }

  .info {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 100px;
    height: 100px;
    background: #252723;
  }

  .icon-nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: white;
  }
}
